extends layout

block content
  h1= title
  h2 Fallzahlen
  div(class="wrapper--graph")
    select(id="noanimated--country--list")
      - english_name = [ 'Austria', 'Germany', 'Italy', 'Hungary']
      - german_name = [ 'Österreich', 'Deutschland', 'Italien', 'Ungarn']
      each item, i in english_name
        option(class="country" value=item) #{german_name[i]}
    //- div(class="country--list")
    //-   p(class="country" name="World") Weltweit
    //-   p(class="country" name="Austria") Österreich
    //-   p(class="country" name="Germany") Deutschland
    //-   p(class="country" name="USA") USA
    //-   p(class="country" name="Russia") Russland
    //-   p(class="country" name="Netherlands") Niederlande
    canvas(id="coronaBarChart" width="400" height="400")
    select(id="noanimated--country--list--pie")
      - english_name = [ 'Austria', 'Germany', 'Italy', 'Hungary']
      - german_name = [ 'Österreich', 'Deutschland', 'Italien', 'Ungarn']
      each item, i in english_name
        option(class="country" value=item) #{german_name[i]}
    canvas(id="coronaPieChart")

